body {
    margin: 0;
    padding: 0;
}


/* Program Seection */

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container label {
    font-size: 10em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.action {
    transform: perspective(500px);
    transform-style: preserve-3d;
}

.action button {
    transition: 0.3s ease-in-out;
    margin: 1em;
    height: 80px;
    width: 170px;
    border-radius: 1em;
    background-color: aqua;
}

.action button:hover {
    transform: translateZ(100px);
}

